{% extends 'base.html.twig' %}

{% block title %}| Compte{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center fs-1">Compte</h1>
        <!-- Lien de déconnexion stylisé centré-->
        <div class="text-center">
            <a href="{{ path('app_logout') }}" class="text-danger">Déconnexion</a>

        </div>

        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_MODERATOR") %}
            <div class="text-center mt-3">
                <a href="{{ path('admin') }}" class="text-secondary">Panel d'administration</a>
            </div>
        {% endif %}

        <hr>


    </main>
{% endblock %}
