{% extends 'base.html.twig' %}

{% block title %}
- Contacts
{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Contacts</h1>
                <div class="border rounded shadow-sm mt-5 mb-5">
                    <h2 class="text-center pt-5 pb-3">Média Étudiant Rochelais</h2>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h5 class="text-center text-decoration-underline underline-offset">Adresse</h5>
                            <p class="text-center">RUE<br>17000 La Rochelle Cédex</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center text-decoration-underline underline-offset">Téléphone</h5>
                            <p class="text-center">XX XX XX XX XX</p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h5 class="text-center text-decoration-underline underline-offset">Email</h5>
                            <p class="text-center"><a href="#" class="text-decoration-none">MAIL</a></p>
                        </div>
                    </div>
                </div>

                <div class="border rounded shadow-sm mt-5 mb-5">
                    <h2 class="text-center pt-5 pb-3">Bureau Des Étudiants La Rochelle Université</h2>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h5 class="text-center text-decoration-underline underline-offset">Adresse</h5>
                            <p class="text-center">3 passage Jacqueline de Romilly<br>17000 La Rochelle Cédex</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center text-decoration-underline underline-offset">Téléphone</h5>
                            <p class="text-center">05 46 45 82 22</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h5 class="text-center text-decoration-underline underline-offset">Email</h5>
                            <p class="text-center"><a href="mailto:bde.lru@gmail.com" class="text-decoration-none">bde.lru@gmail.com</a></p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center text-decoration-underline underline-offset">Instagram</h5>
                            <p class="text-center"><a href="https://www.instagram.com/bde_lru" target="_blank" class="text-decoration-none">@bde_lru</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

