{% extends 'base.html.twig' %}

{% block title %}
    - Politique de Confidentialité
{% endblock %}

{% block body %}

    <main class="container">
        <h1 class="text-center fs-1">Politique de confidentialité</h1>
        <hr>
        <p class="lh-lg pt-3">
            Que vous soyez étudiant, enseignant, parent, organisation extérieure ou simple visiteur, Le Média Étudiants
            Rochelais est soucieux de la protection de votre vie privée dans le respect du règlement européen (UE)
            2016/679 du 27 avril 2016 relatif à la protection des données à caractère personnel (RGPD) et de la loi n°
            78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés (modifiée).
        </p>
        <p class="lh-lg">
            La présente politique de confidentialité a pour objectif de vous informer sur les traitements de données
            personnelles mis en œuvre par Le Média Étudiants Rochelais et sur les droits dont vous disposez à cet égard.
        </p>
        <p class="lh-lg">
            Le Média Étudiants Rochelais est susceptible de modifier la présente politique de confidentialité. Nous vous
            invitons à la consulter régulièrement.
        </p>

        <hr>

        <div class="row">
            <div class="col-12 pt-5 pb-5">
                <h2 class="mb-4 text-decoration-underline underline-offset">Sommaire</h2>
                <ul class="list-group-numbered">
                    <li class="list-group-item p-2"><a href="#IG">Informations générales</a></li>
                    <li class="list-group-item p-2"><a href="#CDC">Les catégories de données collectées</a></li>
                    <li class="list-group-item p-2"><a href="#DDHT">Destinataires des données - habilitation et
                            traçabilité</a></li>
                    <li class="list-group-item p-2"><a href="#DCD">Durée de conservation des données</a></li>
                    <li class="list-group-item p-2"><a href="#SECU">Sécurité des données</a></li>
                    <li class="list-group-item p-2"><a href="#VIO">Violation des données</a></li>
                    <li class="list-group-item p-2"><a href="#DROITS">Vos droits</a></li>
                    <li class="list-group-item p-2"><a href="#DIRAC">Droit d'introduire une réclamation auprès de la
                            CNIL</a></li>
                    <li class="list-group-item p-2"><a href="#EVO">Évolution</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="IG">
            <h2 class="mb-4 text-decoration-underline underline-offset">Informations générales</h2>
            <p class="lh-lg">
                Le responsable des traitements est : Le Média Étudiants Rochelais, association loi 1901, dont le siège
                social est situé au --, 17000 La Rochelle.
            </p>
            <p class="lh-lg">
                La présente politique ne porte que sur les traitements de données personnelles mis en œuvre par Le Média
                Étudiants Rochelais.
            </p>
            <p class="lh-lg">
                Le traitement de données à caractère personnel peut être géré directement par Le Média Étudiants
                Rochelais ou par un sous-traitant désigné par Le Média Étudiant Rochelais.
            </p>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="CDC">
            <h2 class="mb-4 text-decoration-underline underline-offset">Les catégories de données collectées</h2>
            <p class="lh-lg">
                Les catégories de données collectées par Le Média Étudiants Rochelais sont les suivantes :
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Les données concernant l'état civil, identité, données d'identification,
                    ...
                </li>
                <li class="list-group-item">Les données de connexion (adresse IP, logs, etc ...)</li>
            </ul>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="DDHT">
            <h2 class="mb-4 text-decoration-underline underline-offset">Destinataires des données - habilitation et
                traçabilité</h2>
            <p class="lh-lg">
                Le Média Étudiant Rochelais s'assure que les données ne soient accessibles qu'à des destinataires
                internes ou externes autorisés.
            </p>
            <p class="lh-lg">
                Peuvent être destinataires des données :
            </p>

            <table class="table mt-4 mb-4">
                <thead>
                <tr class="table-primary">
                    <th scope="col">Interne</th>
                    <th scope="col">Externe</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Équipe rédactionnelle</td>
                    <td>Fournisseurs de service techniques</td>
                </tr>
                <tr>
                    <td>Équipe technique</td>
                    <td>Partenaires publicitaires et sponsors</td>
                </tr>
                <tr>
                    <td>Équipe administrative</td>
                    <td>Fournisseurs de services analytiques</td>
                </tr>
                <tr>
                    <td>Membres du bureau</td>
                    <td>Services de paiement en ligne</td>
                </tr>
                <tr>
                    <td>Équipe communication</td>
                    <td>Consultant externes</td>
                </tr>
                <tr>
                    <td>Responsables de la conformité juridique</td>
                    <td>Autorités légales et réglementaires</td>
                </tr>
                </tbody>
            </table>

            <p class="lh-lg">
                Par ailleurs, les données à caractères personnelles pourront être communiquées à toute autorité
                légalement habilitée à en connaître. Dans ce cas, Le Média Étudiant Rochelais n'est pas responsable des
                conditions dans lesquelles les personnels de ces autorités ont accès et utilisent les données.
            </p>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="DCD">
            <h2 class="mb-4 text-decoration-underline underline-offset">Durée de conservation des données</h2>
            <p class="lh-lg">
                Les données sont conservées pendant une durée qui n'excède pas la durée nécessaire aux finalités pour
                lesquelles elles ont été collectées.
            </p>
            <p class="lh-lg">
                Les durées de conservation sont déterminées en fonction des finalités de traitement mis en œuvre par Le
                Média Étudiant Rochelais et tiennent compte des dispositions légales applicables imposant une durée de
                conservation précise pour certaines catégories de données, des éventuels délais de prescription
                applicables ainsi que des recommandations de la CNIL concernant certaines catégories de traitements de
                données. Ainsi, les durées de conservation appliquées par Le Média Étudiant Rochelais sont les suivantes
                :
            </p>

            <table class="table mt-4 mb-4">
                <thead>
                <tr class="table-primary">
                    <th scope="col">Catégories de données</th>
                    <th scope="col">Durée de conservation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Données concernant l'état civil, identité, données d'identification, ...</th>
                    <td>3 ans après la fin de la relation contractuelle</td>
                </tr>
                <tr>
                    <th scope="row">Données de connexion (adresse IP, logs, etc ...)</th>
                    <td>1 an</td>
                </tr>
                </tbody>
            </table>

            <p class="lh-lg">
                Passé les délais fixés, les données sont soit supprimées, soit conservées après avoir été anonymisé à
                des fins statistiques, historiques ou
                archivistiques, sous réserve de l'application des dispositions légales en vigueur.
            </p>
            <p class="lh-lg">
                Il est rappelé que la suppression ou l'anonymisation des données est irréversible et que Le Média
                Étudiant Rochelais n'est plus, dès lors, en mesure de restaurer les données concernées.
            </p>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="SECU">
            <h2 class="mb-4 text-decoration-underline underline-offset">Sécurité des données</h2>
            <p class="lh-lg">
                Il appartient au Média Étudiant Rochelais de définir et de mettre en œuvre les mesures techniques de
                sécurité physique ou logique, qu'il estime appropriés pour lutter contre la destruction, la perte,
                l'altération ou la divulgation non autorisée des données de manière accidentelle ou illicite.
            </p>
            <p class="lh-lg">
                Pour ce faire, Le Média Étudiant Rochelais peut se faire assister de tout tiers de son choix pour
                procéder aux fréquences qu'il estimera nécessaire, à des audits de vulnérabilité ou des tests
                d'intrusion sur les systèmes d'information du Média Étudiant Rochelais.
            </p>
            <p class="lh-lg">
                Sauf cas d'urgence ou risque imminent, les services concernés du Média Étudiant Rochelais seront
                informés préalablement de la réalisation de ces audits et seront tenus de prendre les mesures de
                protection adaptées qui leur seront indiquées au préalable.
            </p>
            <p class="lh-lg">
                En tout état de cause, le Média Étudiant Rochelais s’engage, en cas de changement des moyens visant à
                assurer
                la sécurité et la confidentialité des données à caractère personnel, à les remplacer par des moyens
                d’une performance supérieure. Aucune évolution ne pourra conduire à une régression du niveau de
                sécurité.
            </p>
            <p class="lh-lg">
                En cas de sous-traitance d’une partie ou de la totalité d’un traitement de données à caractère
                personnel, le Média Étudiant Rochelais, s’engage à imposer contractuellement à ses sous-traitant·es des
                garanties de sécurité par le biais de mesures techniques de protection de ces données et les moyens
                humains appropriés.
            </p>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="VIO">
            <h2 class="mb-4 text-decoration-underline underline-offset">Violation des données</h2>
            <p class="lh-lg">
                En cas de violation de données à caractère personnel, le Média Étudiant Rochelais s’engage à en notifier
                à la
                CNIL dans les conditions prescrites par le RGPD

                Si ladite violation fait porter un risque élevé pour les apprenant·es et que les données n’ont pas été
                protégées, la Rochelle Université :
            </p>
            <ul class="list-group-numbered list-group-flush">
                <li class="list-group-item p-2">En avisera les apprenant·es concerné·es</li>
                <li class="list-group-item p-2">Communiquera aux apprenant·es concerné·es les informations et
                    recommandations nécessaires.
                </li>
            </ul>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="DROITS">
            <h2 class="mb-4 text-decoration-underline underline-offset">Vos droits</h2>
            <p class="lh-lg">
                Vous disposez des droits suivants :
            </p>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">Droit d'accès</li>
                <li class="list-group-item">Droit de rectification</li>
                <li class="list-group-item">Droit d'être informé·e</li>
                <li class="list-group-item">Droit de restreindre le traitement</li>
                <li class="list-group-item">Droit à la portabilité des données</li>
                <li class="list-group-item">Droit d'opposition si vos données sont utilisées à d'autres fins ne relevant
                    pas d'une obligation légale
                </li>
            </ul>
            <p class="lh-lg">
                Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données
                personnelles gérés par le Média Étudiant Rochelais, vous pouvez contacter son délégué à la protection
                des
                données (DPO) : par <a href="#">mail</a> (avec copie de votre pièce d’identité en cas d’exercice de vos
                droits)
            </p>
            <p class="lh-lg">
                Si vous n’obtenez pas de réponses à vos requêtes dans un délai raisonnable, vous pouvez porter une
                réclamation auprès de l’autorité de contrôle, à savoir la CNIL conformément à l’article 13 du RGPD.
            </p>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="DIRAC">
            <h2 class="mb-4 text-decoration-underline underline-offset">Droit d'introduire une réclamation auprès de la
                CNIL</h2>
            <p class="lh-lg">
                L'Utilisateur concerné·e par le traitement de ses données à caractère personnel est informé de son droit
                d’introduire une plainte auprès d’une autorité de contrôle, à savoir la CNIL, si celui-ci estime que le
                traitement de données à caractère personnel le concernant n’est pas conforme à la règlementation
                européenne de protection des données, à l’adresse suivante : CNIL – Service des plaintes, 3 Place de
                Fontenoy, TSA 80715 – 75334 Paris Cedex 07.
            </p>
        </div>
        <hr>
        <div class="col-12 pt-5 pb-5" id="EVO">
            <h2 class="mb-4 text-decoration-underline underline-offset">Évolution</h2>
            <p class="lh-lg">
                La présente politique peut être modifiée ou aménagée à tout moment, en cas d’évolution légale,
                jurisprudentielle, des décisions et recommandations de la CNIL ou des usages.
            </p>
        </div>
    </main>
{% endblock %}

